@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

body,
html {
  font-family: "Source Sans Pro", sans-serif;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 20px;
}

.container {
  text-align: center;
  background: black;
  border-radius: 50px;
  border-top: 10px solid #f370b8;
  border-bottom: 10px solid #f370b8;
  width: 400px;
}

.box h4 {
  font-family: "Source Sans Pro", sans-serif;
  color: #f370b8;
  font-size: 40px;
  margin-top: 30px; /* Adjusted margin-top */
}

.box h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 1.5px;
  margin-top: -50px;
  margin-bottom: 50px; /* Adjusted margin-bottom */
}

.box input[type="text"],
.box input[type="password"] {
  display: block;
  margin: 20px auto; /* Adjusted margin */
  background-color: #3b4148;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: 0;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  border: 1px solid #79a6fe;
}

/* New styles for Full Name input */
.box input[type="text"][name="name"] {
  margin-top: 20px; /* Adjusted margin-top */
}

a {
  color: #f370b8;
  text-decoration: none;
}
a:hover {
  color: #129aa1;
}
.btn1 {
  border: 0;
  background: #f370b8;
  color: #dfdeee;
  border-radius: 7px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.btn1:hover {
  background: #129aa1;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}
